<p>Edit whatever info you'd like</p>
<%= bootstrap_form_with(model: @profile, url: profile_path(@profile), method: :patch, local: true) do |f| %>
  <%= f.file_field :avatar, label: "Profile Picture:" %>
  <%= f.label :old_avatar, "Current Profile Picture:" %>
  <% if @profile.avatar.file.present? %>
    <%= image_tag @profile.avatar.url, class: 'img-thumbnail', alt: 'Current Avatar' %>
  <% end %>
  <%= f.text_field :first_name, label: "First Name:", value: @profile.first_name %>
  <%= f.text_field :last_name, label: "Last Name:", value: @profile.last_name %>
  <%= f.text_area :bio, label: "Bio:", value: @profile.bio %>
  <%= f.text_field :location, label: "Location:", value: @profile.location %>
  <%= f.text_field :twitter, label: "Twitter:", value: @profile.twitter %>
  <%= f.text_field :facebook, label: "Facebook:", value: @profile.facebook %>
  <%= f.text_field :instagram, label: "Instagram:", value: @profile.instagram %>
  <%= f.text_field :website, label: "Website:", value: @profile.website %>
  <%= f.text_field :occupation, label: "Occupation:", value: @profile.occupation %>
  <%= f.select :public_profile, options_for_select([['Public', true], ['Private', false]]), label: "Profile Visibility:", selected: @profile.public_profile %>
  <%= f.submit "Submit Updates", class: 'btn btn-primary' %>
<% end %>
