<p>Edit whatever info you'd like</p>
<%= bootstrap_form_with(model: @profile, url: profile_path(@profile), method: :patch, local: true) do |f| %>
  <%= f.file_field :avatar, label: "Profile Picture:" %>
  <% if @profile.avatar.file.present? %>
    <div class="mb-3">
      <%# "form-label" is inaccurate since this isn't actually an input, but
          we use it so that the page stays consistent. %>
      <p class="form-label">Current Profile Picture:</p>
      <%= image_tag @profile.avatar.url, class: 'img-thumbnail', alt: 'Current Avatar' %>
    </div>
  <% end %>
  <%= f.text_field :first_name, label: "First Name:" %>
  <%= f.text_field :last_name, label: "Last Name:" %>
  <%= f.text_area :bio, label: "Bio:" %>
  <%= f.text_field :location, label: "Location:" %>
  <%= f.text_field :twitter, label: "Twitter:" %>
  <%= f.text_field :facebook, label: "Facebook:" %>
  <%= f.text_field :instagram, label: "Instagram:" %>
  <%= f.text_field :website, label: "Website:" %>
  <%= f.text_field :occupation, label: "Occupation:" %>
  <%= f.select(
        :public_profile,
        [['Public', true], ['Private', false]],
        label: "Profile Visibility:"
      ) %>
  <%= f.primary %>
<% end %>
