<p>Add whatever info you'd like</p>
<%= bootstrap_form_with(model: @profile, url: profiles_path, scope: :profile, method: :post, local: true) do |f| %>
  <%= f.file_field :avatar, label: "Profile Picture:" %>
  <%= f.text_field :first_name, label: "First Name:" %>
  <%= f.text_field :last_name, label: "Last Name:" %>
  <%= f.text_area :bio, label: "Bio:" %>
  <%= f.text_field :location, label: "Location:" %>
  <%= f.text_field :twitter, label: "Twitter:" %>
  <%= f.text_field :facebook, label: "Facebook:" %>
  <%= f.text_field :instagram, label: "Instagram:" %>
  <%= f.text_field :website, label: "Website:" %>
  <%= f.text_field :occupation, label: "Occupation:" %>
  <%= f.select :public_profile, options_for_select([['Public', true], ['Private', false]]), label: "Profile Visibility:" %>
  <%= f.primary "Create Profile" %>
<% end %>
