
<h1>User Profile</h1>

<% if @profile.present? %>
  <% if @profile.avatar.file.present? %>
    <%= image_tag @profile.avatar.url, class: 'img-thumbnail', alt: 'Current Avatar' %>
  <% end %>
  <p><strong>Name:</strong> <%= @profile.full_name %></p>
  <p><strong>Bio:</strong> <%= @profile.bio %></p>
  <p><strong>Location:</strong> <%= @profile.location %></p>
  <p><strong>Twitter:</strong> <%= @profile.twitter %></p>
  <p><strong>Facebook:</strong> <%= @profile.facebook %></p>
  <p><strong>Instagram:</strong> <%= @profile.instagram %></p>
  <p><strong>Website:</strong> <%= @profile.website %></p>
  <p><strong>Occupation:</strong> <%= @profile.occupation %></p>

  <!-- TODO: Displaying the user's avatar if attached -->
  <%# image_tag @profile.avatar if @profile.avatar.attached? %>

  <% if @is_seller %>
    <p><strong>Seller Rating (out of 5):</strong>
      <% if @profile.seller_rating && @profile.seller_rating > 0 %>
        <%= @profile.seller_rating %>
      <% else %>
        <%= "No rating yet" %>
      <% end %>
    </p>
  <% end %>


  <!-- Links -->
  <% if @is_current_user %>
    <%= link_to "Edit Profile", edit_profile_path(@profile), method: :get, class: "btn btn-primary" %>
    <% if Current.user.is_seller %>
      <%# Have to wrap in span since .disabled adds `pointer-events: none` which
          prevents the title appearing on hover. The `d-inline-block` class is
          added so that the span takes up the same space as the link. %>
      <span class="d-inline-block" title="Sellers cannot delete their profiles.">
        <%# https://getbootstrap.com/docs/5.3/components/buttons/#disabled-state %>
        <a class="btn btn-danger disabled" role="button" aria-disabled="true">
          Delete Profile
        </a>
      </span>
    <% else %>
      <%= link_to "Delete Profile", delete_profile_path(@profile), method: :get, class: "btn btn-danger" %>
    <% end %>
  <% end %>
  <% if @show_links %>
    <%= link_to "Leave A Review", review_path(profile_id: @profile), method: :get, class: "btn btn-secondary" %>
    <%= link_to "Send A Message", send_message_path(profile_id: @profile), method: :get, class: "btn btn-secondary" %>
  <% end %>
  <%= link_to "Send a Message", send_message_path(profile_id: @profile), method: :get, class: "btn btn-secondary" %>
<% else %>
  <p>User profile not found.</p>
<% end %>
