<div class="row d-flex justify-content-center align-items-center mt-5">
  <div class="col-sm-10 col-md-7 col-lg-6">
    <div class="card p-5">
      <h1 class="text-center">Login</h1>
      <%= bootstrap_form_with model: @user, url: login_submit_path, method: :post, local: true, class: "px-3 py-1" do |f| %>
        <%= f.email_field :email, label: "Email", placeholder: "Email" %>
        <%= f.password_field :password, label: "Password", placeholder: "Password" %>
        <div class="d-flex justify-content-between mt-3">
          <%= f.check_box :remember_me %>
          <%= link_to "Forgot password?", "#" %>
        </div>
        <div class="d-flex justify-content-center">
          <%= f.submit "Login", extra_class: "btn-lg w-75" %>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <span>Don't have an account? <%= link_to "Signup", signup_path %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= button_to "Google", '/auth/google_oauth2' %>
