<div class="container mt-5">
  <h2 class="mb-4"><%= storefronts_index_header %></h2>
  <div class="row">
    <% if @storefronts.present? %>
      <% @storefronts.each do |storefront| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= link_to storefront.name, storefront_path(storefront.id) %></h5>
              <p class="card-text"><%= storefront.short_description %></p>
              <%= render "application/seller_info", seller: storefront.user %>
            </div>
          </div>
        </div>
        <% end %>
    <% else %>
      <div class="col-md-12">
        <p><%= no_products_message %></p>
      </div>
    <% end %>
  </div>
</div>
