<!-- app/views/storefronts/index.html.erb -->

<div class="container mt-4">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h1 class="display-4 text-primary fw-bold"><%= @storefront.name %>e</h1>
      <p class="lead text-muted"><%= @storefront.short_description %></p>
    </div>
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow rounded-3 border-0">
          <%#= image_tag("product_#{product.id}.jpg", class: "card-img-top img-fluid rounded-top", alt: "Product Image") %>
          <div class="card-body">
            <h5 class="card-title text-primary mb-3"><%= product.name %></h5>
            <p class="card-text text-muted mb-4"><%= product.description %></p>
            <p class="card-text fs-5"><%= number_to_currency(product.price) %></p>
            <%= link_to "View Details", product_path(product.id), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
