<!-- Allow sellers to input custom code -->
<%= bootstrap_form_with(url: storefront_index_path, scope: :storefront, method: :post, local: true) do |f| %>
  <%= f.text_area :custom_code, value: '', rows: 10, cols: 50 %>
  <%= f.submit 'Preview Custom Code', name: 'preview_button' %>
  <%= f.submit 'Save Custom Code', name: 'save_button' %>
<% end %>

<!-- your products -->
<p>Your Products:</p>
<% @products.each do |product| %>
  <div class="product">
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    <p><%= product.price %></p>
  </div>
<% end %>

<!-- Display custom code output -->
<p>Preview of custom code:</p>
<div id="preview_section">
  <%= render partial: "preview_section", locals: { previewed_code: @previewed_code } %>
</div>
