<h1>Sign-up</h1>

<%= bootstrap_form_with model: @user, url: signup_submit_path, method: :post, inline_errors: false, local: true do |f| %>
  <%= f.text_field :first_name, label: 'First Name: ' %>
  <%= f.text_field :last_name, label: 'Last Name: ' %>
  <%= f.email_field :email, label: 'Email: ' %>
  <%= f.password_field :password, label: 'Password: ', help: "Must be at least 8 characters long" %>
  <%= f.password_field :password_confirmation, label: 'Confirm Password: ' %>
  <%= f.submit %>
<% end %>
