<div class="container mt-4">
  <h2> Purchase history for <%= @user.first_name %></h2>
  <table class="table">
    <thead>
    <tr>
      <%# link_to defaults to the current URL when none is specified %>
      <th scope="col"> Seller </th>
      <th scope="col"> Item </th>
      <th scope="col"> Price</th>
      <th scope="col"> Purchased on </th>
    </tr>
    </thead>
    <tbody>
    <% @others.each do |m| %>
      <tr>
        <td> <%= if @seller.storefront.nil?
                   @seller.first_name + " " + @seller.last_name
        else
          link_to @seller.first_name + " " + @seller.last_name, storefront_path(@seller.storefront)
        end%></td>
        <td> <%= link_to m[:product], product_path(m[:product_id]) %></td>
        <td><%= number_to_currency m[:price_cents] %></td>
        <td><%= m[:created_at].strftime("%B %e, %Y %l:%M %p") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
