<div class="row d-flex justify-content-center align-items-center">
  <div class="col-sm-12 col-md-10 col-lg-8">
    <div class="card">
      <div class="card-body">

        <div class="d-flex justify-content-end">
        <div class="position-absolute">
          <%= render "application/seller_dropdown", seller: @promotion.seller do %>
            <%= dropdown_link "Edit Promotion", edit_promotion_path(@promotion) %>
          <% end %>
        </div>
        </div>

        <h2 class="card-title text-center">
          Promotion: <%= @promotion.to_s %>
          <% if @promotion.active? %>
            <span class="badge text-bg-success">Active</span>
          <% else %>
            <span class="badge text-bg-secondary">Inactive</span>
          <% end %>
        </h2>
        <div class="d-flex justify-content-center fs-5">
          <%= render(
                "application/seller_info",
                seller: @promotion.seller,
                show_storefront: true,
                width: "20px", height: "20px"
              ) %>
        </div>

        <p class="card-text text-center">
          <%= @promotion.starts_on.strftime("%B %d, %Y %l:%M %p") %>
          –
          <%= @promotion.ends_on.strftime("%B %d, %Y %l:%M %p") %>
        </p>

        <%# basic table of @products %>
        <% unless @products.empty? %>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><%= link_to product.name, product_path(product) %></td>
                  <td>
                    <span class="text-decoration-line-through">
                      <%= number_to_currency(product.price) %>
                    </span>
                    <%= number_to_currency @promotion.sample_discount(product) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

      </div>
    </div>
  </div>
</div>
