<%# locals: (seller:, show_storefront: false, width: "16px", height: "16px") %>

<div class="d-flex mb-3 align-items-center">
  <% if show_storefront && seller.storefront %>
    <%= link_to seller.storefront.name, seller.storefront %>
    <div class="vr mx-2"></div>
  <% end %>
  <% if seller.profile %>
    <%= link_to seller.full_name, profile_path(seller.profile), class: "me-1 link-primary" %>
    <%= rating_stars(seller.profile.seller_rating || 0, width:, height:) %>
  <% else %>
    <%= seller.full_name %>
  <% end %>
  <span class="ms-1">(</span>
  <%#= link_to "#" do # add once we have an index for reviews %>
  <small><%= pluralize seller.reviews_for_sellers.count, "review" %> </small>
  <%# end %>
  <span>)</span>
</div>
