<h1>Product Page</h1>

<div class="container mt-4">
  <h2>All Items for Sale</h2>
  <table class="table">
    <thead>
    <tr>
      <%# link_to defaults to the current URL when none is specified %>
      <th scope="col"><%= link_to 'Name', request.query_parameters.merge({:sort => 'name'}) %> </th>
      <th scope="col"><%= link_to 'Price', request.query_parameters.merge({ :sort => 'price' }) %> </th>
      <th scope="col"><%= link_to 'Posted', request.query_parameters.merge({ :sort => 'date' }) %> </th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= number_to_currency product.price %></td>
        <td><%= product.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


