<h1>Product Page</h1>

<body>

<div class="container mt-4">
  <h2>All Items for Sale</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col"><%= link_to 'Name', products_path(:sort => 'name'), :id => 'title_header' %> </th>
      <th scope="col"><%= link_to 'Price', products_path(:sort => 'price'), :id => 'title_header' %> </th>
      <th scope="col"><%= link_to 'Posted', products_path(:sort => 'date'), :id => 'title_header' %> </th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td>$<%= (product.price_cents / 100.00).to_s%><%= "0" if (product.price_cents / 100.00).to_s.match?(/^\d+.\d$/) %> </td>
        <td><%= product.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
