<h1>Product Page</h1>

<%= bootstrap_form_with model: @user, url: signup_submit_path, method: :post, local: true do |f| %>
  <%= f.check_box :filter_1, label: 'Filter 1' %>
  <%= f.check_box :filter_2, label: 'Filter 2' %>
  <%= f.check_box :filter_3, label: 'Filter 3' %>
<% end %>

<div class="container mt-4">
  <h2>All Items for Sale</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Posted</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, "/show" %></td>
        <td>$<%= product.price_cents / 100 %></td>
        <td><%= product.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
