<h1>Product Page</h1>

<%= bootstrap_form_with model: @user, url: signup_submit_path, method: :post, local: true do |f| %>
  <%= f.check_box :filter_1, label: 'Filter 1' %>
  <%= f.check_box :filter_2, label: 'Filter 2' %>
  <%= f.check_box :filter_3, label: 'Filter 3' %>
<% end %>

<div class="container mt-4">
  <h2>Product List</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price_cents %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
