<div class="container mt-4">
  <h2><%= products_index_header %></h2>
  <table class="table">
    <thead>
    <tr>
      <%# link_to defaults to the current URL when none is specified %>
      <th scope="col"><%= link_to 'Name', request.query_parameters.merge({:sort => 'name', :order => params[:order] == "desc"? "asc" : "desc", :category => params[:category]}) %> </th>
      <th scope="col"><%= link_to 'Price', request.query_parameters.merge({ :sort => 'price', :order => params[:order] == "desc"? "asc" : "desc", :category => params[:category] }) %> </th>
      <th scope="col"><%= link_to 'Posted', request.query_parameters.merge({ :sort => 'date', :order => params[:order] == "desc"? "asc" : "desc", :category => params[:category] }) %> </th>
      <th scope="col"><%= link_to 'Views', request.query_parameters.merge({ :sort => 'views', :order => params[:order] == "desc"? "asc" : "desc", :category => params[:category] }) %> </th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= number_to_currency product.price %></td>
        <td><%= product.created_at %></td>
        <td><%= product.viewed_by_users.count %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
